<%= form_with(model: blog_post, class: "contents") do |form| %>
  <% if blog_post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul class="list-disc ml-6">
        <% blog_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": blog_post.errors[:title].none?, "border-red-400 focus:outline-red-600": blog_post.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :body %>
    <%= form.rich_textarea :body, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": blog_post.errors[:body].none?, "border-red-400 focus:outline-red-600": blog_post.errors[:body].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :meta_description %>
    <%= form.textarea :meta_description, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": blog_post.errors[:meta_description].none?, "border-red-400 focus:outline-red-600": blog_post.errors[:meta_description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :meta_title %>
    <%= form.text_field :meta_title, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": blog_post.errors[:meta_title].none?, "border-red-400 focus:outline-red-600": blog_post.errors[:meta_title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :meta_image %>
    <%= form.file_field :meta_image, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": blog_post.errors[:meta_image].none?, "border-red-400 focus:outline-red-600": blog_post.errors[:meta_image].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :banner_image %>
    <%= form.file_field :banner_image, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": blog_post.errors[:banner_image].none?, "border-red-400 focus:outline-red-600": blog_post.errors[:banner_image].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :tags %>
    <%= form.textarea :tags, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": blog_post.errors[:tags].none?, "border-red-400 focus:outline-red-600": blog_post.errors[:tags].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
