<% content_for :title, "Showing blog post" %>

<div class="flex flex-col w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= image_tag(@blog_post.banner_image, class: "w-full h-64 object-cover") if @blog_post.banner_image.attached? %>

  <h1 class="font-bold text-4xl"><%= @blog_post.title %></h1>

  <div class="flex items-center gap-4 mt-8">
    <%= link_to "Edit this blog post", edit_blog_post_path(@blog_post), class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
    <%= link_to "Back to blog posts", blog_posts_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Destroy this blog post", @blog_post, method: :delete, class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>

</div>
42:40
